<nav class = "navbar navbar-default-fixed-top"> 
	<ul class = "nav navbar-nav ">
		<li> <%= link_to "HOME", root_path%></li>
	</ul>
	<ul class = "nav navbar-nav navbar-right ">
		<li><%= link_to "ADMIN", rails_admin_path%></li>
	</ul>
</nav>

